/* The Fashion Pet*/
body{
    background-color:#f2f2f2;
    font-family: 'Proza Libre', sans-serif;   
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#f2f2f2;
    height: 75px;
    flex-basis: 500px;
    margin: 20px 30px 30px 40px;    
}


h1{
    color:#A077D9;    
}


div.flex-container-nav{
    flex-direction: row;
    align-items: center;
}


a.link-home{
    font-size: 17px;
    font-weight:900px;
    letter-spacing:2px;
    margin-right: 20px;
    color:#A077D9;
    text-decoration: none;
}
a.link-home:hover{
    color:#f2f2f2;
    background-color:#A077D9;

}


a.link-about{
    font-size: 17px;
    font-weight:900px;
    letter-spacing:2px;
    margin-right: 20px;
    color:#A077D9;
    text-decoration: none;
}
a.link-about:hover{
    color: #f2f2f2;
    background-color:#A077D9;   
}

a.link-services{
    font-size: 17px;
    font-weight:900px;
    letter-spacing:2px;
    margin-right: 20px;
    color:#A077D9;
    text-decoration: none;
}
a.link-services:hover{
    color: #f2f2f2;
    background-color:#A077D9;   
}

a.link-register{
    font-size: 17px;
    font-weight:900px;
    letter-spacing:2px;
    margin-right: 20px;
    color:#A077D9;
    text-decoration: none;
}
a.link-register:hover{
    color:#f2f2f2;
    background-color:#A077D9;   
}


h2{
    color:#B189D9;
    margin: 10px 20px 10px 120px;
    letter-spacing: 2px;
}

.pet-count{
    margin: 10px 10px 20px 100px;
    letter-spacing: 1px;
    font-size: 20px;
}

.container-sm{
    margin-left:50px;
}

.mb-3{
    width:300px;
    letter-spacing: 1px;
   
}

.age{
    width: 100px;
}

.type{
    width: 200px;
}

.gender{
    width: 100px;
}

.btn{
    margin: 4px 4px 4px 275px;
    letter-spacing: 2px;
    background-color:#A077D9;
    color:#f2f2f2;
}

footer{
    margin:3px 3px 20px 50px;
    font-size: 20px;
}


